In [1]:
import pandas as pd
import datetime
import math as ma
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_csv('Train.csv')
df2 = pd.read_csv('Test.csv')

In [88]:
pd.set_option('display.max_columns', 500)

In [89]:
df1.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Arrival at Pickup - Time,Pickup - Day of Month,Pickup - Weekday (Mo = 1),Pickup - Time,Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,test
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,9:40:10 AM,9,5,10:04:47 AM,9,5,10:27:30 AM,9,5,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,0
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,11:23:21 AM,12,5,11:40:22 AM,12,5,11:44:09 AM,12,5,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,0
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,12:42:44 PM,30,2,12:49:34 PM,30,2,12:53:03 PM,30,2,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,0
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,9:26:05 AM,15,5,9:37:56 AM,15,5,9:43:06 AM,15,5,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,0
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,9:56:18 AM,13,1,10:03:53 AM,13,1,10:05:23 AM,13,1,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,0

In [90]:
df1.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
test                                             0
dtype: int64

In [91]:
len(df1)

21201

In [92]:
df2.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Arrival at Pickup - Time,Pickup - Day of Month,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,test,train
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,4:44:29 PM,27,3,4:53:04 PM,27,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192,1,1
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,12:59:17 PM,17,5,1:20:27 PM,17,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868,1,1
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,11:25:05 AM,27,4,11:33:20 AM,27,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26,1,1
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,1:53:27 PM,17,1,2:02:41 PM,17,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685,1,1
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,11:34:45 AM,11,2,11:47:19 AM,11,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858,1,1

In [93]:
df2.isnull().sum()

Order No                                   0
User Id                                    0
Vehicle Type                               0
Platform Type                              0
Personal or Business                       0
Placement - Day of Month                   0
Placement - Weekday (Mo = 1)               0
Placement - Time                           0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Confirmation - Time                        0
Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Arrival at Pickup - Time                   0
Pickup - Day of Month                      0
Pickup - Weekday (Mo = 1)                  0
Pickup - Time                              0
Distance (KM)                              0
Temperature                             1437
Precipitation in millimeters            6869
Pickup Lat                                 0
Pickup Long                                0
Destination Lat                            0
Destination Long                           0
Rider Id                                   0
test                                       0
train                                      0
dtype: int64

In [94]:
len(df2)

7068

In [95]:
df1.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival', 'test'],
      dtype='object')

In [96]:
df2.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id', 'test', 'train'],
      dtype='object')

In [97]:
df1.nunique()

Order No                                     21201
User Id                                       3186
Vehicle Type                                     1
Platform Type                                    4
Personal or Business                             2
Placement - Day of Month                        31
Placement - Weekday (Mo = 1)                     7
Placement - Time                             15686
Confirmation - Day of Month                     31
Confirmation - Weekday (Mo = 1)                  7
Confirmation - Time                          15742
Arrival at Pickup - Day of Month                31
Arrival at Pickup - Weekday (Mo = 1)             7
Arrival at Pickup - Time                     15767
Pickup - Day of Month                           31
Pickup - Weekday (Mo = 1)                        7
Pickup - Time                                15690
Arrival at Destination - Day of Month           31
Arrival at Destination - Weekday (Mo = 1)        7
Arrival at Destination - Time                15725
Distance (KM)                                   45
Temperature                                    188
Precipitation in millimeters                    54
Pickup Lat                                    3666
Pickup Long                                   3656
Destination Lat                               5302
Destination Long                              5267
Rider Id                                       924
Time from Pickup to Arrival                   4067
test                                             1
dtype: int64

In [98]:
df2.nunique()

Order No                                7068
User Id                                 1617
Vehicle Type                               1
Platform Type                              4
Personal or Business                       2
Placement - Day of Month                  31
Placement - Weekday (Mo = 1)               7
Placement - Time                        6336
Confirmation - Day of Month               31
Confirmation - Weekday (Mo = 1)            7
Confirmation - Time                     6388
Arrival at Pickup - Day of Month          31
Arrival at Pickup - Weekday (Mo = 1)       7
Arrival at Pickup - Time                6374
Pickup - Day of Month                     31
Pickup - Weekday (Mo = 1)                  7
Pickup - Time                           6361
Distance (KM)                             41
Temperature                              182
Precipitation in millimeters              43
Pickup Lat                              1863
Pickup Long                             1858
Destination Lat                         2628
Destination Long                        2619
Rider Id                                 822
test                                       1
train                                      1
dtype: int64

In [99]:
df1['test'] = 0
df2['test'] = 1

In [100]:
df1_df2 = pd.concat([df1, df2], axis=0, join='outer', join_axes=None, ignore_index=False,                   
                   keys=None, levels=None, names=None, 
                   copy=True )

C:\Users\oarabile tsele\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
df1_df2 = df1_df2.reset_index()
df1_df2.drop('index',axis =1 , inplace =True )

In [102]:
df1_df2['month'] =pd.DatetimeIndex(df1_df2['Pickup - Time']).month

In [103]:
df1_df2['day'] =pd.DatetimeIndex(df1_df2['Pickup - Time']).day

In [104]:
df1_df2['seconds'] =(pd.DatetimeIndex(df1_df2['Pickup - Time']).hour * 60) + (pd.DatetimeIndex(df1_df2['Pickup - Time']).minute *60)

In [105]:
df1_df2.drop('Pickup - Time', axis = 1 , inplace = True)

In [106]:
df1_df2.isnull().sum()

Arrival at Destination - Day of Month         7068
Arrival at Destination - Time                 7068
Arrival at Destination - Weekday (Mo = 1)     7068
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Time                         0
Arrival at Pickup - Weekday (Mo = 1)             0
Confirmation - Day of Month                      0
Confirmation - Time                              0
Confirmation - Weekday (Mo = 1)                  0
Destination Lat                                  0
Destination Long                                 0
Distance (KM)                                    0
Order No                                         0
Personal or Business                             0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup Lat                                       0
Pickup Long                                      0
Placement - Day of Month                         0
Placement - Time                                 0
Placement - Weekday (Mo = 1)                     0
Platform Type                                    0
Precipitation in millimeters                 27518
Rider Id                                         0
Temperature                                   5803
Time from Pickup to Arrival                   7068
User Id                                          0
Vehicle Type                                     0
test                                             0
train                                        21201
month                                            0
day                                              0
seconds                                          0
dtype: int64

In [131]:
df1_df2.columns = df1_df2.columns.str.replace('Distance \(KM\)', 'Dist')

In [132]:
df1_df2.Dist

0         4
1        16
2         3
3         9
4         9
5         9
6         5
7         3
8         9
9        14
10        9
11       17
12       10
13       21
14        1
15       13
16       17
17       13
18        5
19        5
20        7
21       24
22       11
23       10
24        3
25       13
26        5
27       17
28        9
29        1
         ..
28239     5
28240    10
28241    17
28242     2
28243     4
28244     6
28245     8
28246    10
28247     2
28248     8
28249    11
28250     4
28251     5
28252     5
28253     4
28254     5
28255     5
28256     8
28257    23
28258    22
28259     6
28260     8
28261    18
28262     8
28263     5
28264     5
28265    22
28266    10
28267    18
28268     8
Name: Dist, Length: 28269, dtype: int64

In [141]:
def impute_column(dataset, column):
    dataset = dataset.copy()
    day_month = pd.DataFrame(dataset.groupby(['day','month'])[column].mean())
    month = pd.DataFrame(dataset.groupby('month')[column].mean())
    mean = dataset[column].mean()

    def firstNonNan(listfloats):
        for item in listfloats:
            try: 
                if m.isnan(item) == False:
                    return item
            except:
                i = 0

    def impute(row):
        if m.isnan(row[column]) == True:
            day_month_lat = day_month.loc[row[['day','month']]][column]
            month_lat = month.loc[row['month']][column]

            row[column] = firstNonNan([day_month_lat,month_lat, mean])
            assert(m.isnan(row[column]) == False)
        return row
    dataset = dataset.apply(impute, axis=1)
    print("{} imputed with mean".format(column))
    return dataset

In [142]:
df1_df2['log_distance'] = np.log(df1_df2['Dist'] + 1)

In [143]:
def label_encoder(df):
    def numerical_features(df):
        columns = df.columns
        return df._get_numeric_data().columns

    def categorical_features(df):
        numerical_columns = numerical_features(df)
        return(list(set(df.columns) - set(numerical_columns)))
    
    categorical = categorical_features(df)
    # Creating the label encoder object
    le =  LabelEncoder()
    
    # Iterating over the "object" variables to transform the categories into numbers 
    for col in categorical:
        df[col] = le.fit_transform(df[col].astype(str))
    return df

In [147]:
 df1_df2.columns = df1_df2.columns.str.replace('Arrival at Destination - Time', 'Delivery_time')

In [149]:
df1_df2.Delivery_time

0        10:39:55 AM
1        12:17:22 PM
2         1:00:38 PM
3        10:05:27 AM
4        10:25:37 AM
5         4:23:41 PM
6        10:19:45 AM
7         2:33:26 PM
8         1:19:35 PM
9         6:31:57 PM
10       10:32:29 AM
11        5:22:25 PM
12        3:45:59 PM
13       10:15:58 AM
14       10:33:52 AM
15        2:10:11 PM
16       12:54:00 PM
17        1:09:07 PM
18       11:59:41 AM
19        4:00:27 PM
20       11:03:24 AM
21       11:51:02 AM
22        8:13:57 PM
23       10:58:49 AM
24        4:53:34 PM
25        1:36:14 PM
26        3:21:05 PM
27        1:10:58 PM
28        3:22:11 PM
29        8:57:03 AM
            ...
28239            NaN
28240            NaN
28241            NaN
28242            NaN
28243            NaN
28244            NaN
28245            NaN
28246            NaN
28247            NaN
28248            NaN
28249            NaN
28250            NaN
28251            NaN
28252            NaN
28253            NaN
28254            NaN
28255            NaN
28256            NaN
28257            NaN
28258            NaN
28259            NaN
28260            NaN
28261            NaN
28262            NaN
28263            NaN
28264            NaN
28265            NaN
28266            NaN
28267            NaN
28268            NaN
Name: Delivery_time, Length: 28269, dtype: object

In [152]:
df1_df2.columns = df1_df2.columns.str.replace('Time from Pickup to Arrival', 'speed')

In [153]:
df1_df2.speed

0         745.0
1        1993.0
2         455.0
3        1341.0
4        1214.0
5        3191.0
6        1380.0
7         646.0
8        3398.0
9        3439.0
10       1056.0
11       3898.0
12       2642.0
13       2904.0
14        407.0
15       1906.0
16       2308.0
17       2639.0
18       1570.0
19       4220.0
20       1112.0
21       2124.0
22       1488.0
23       1404.0
24       3617.0
25       2606.0
26       1149.0
27       1731.0
28       3241.0
29        713.0
          ...
28239       NaN
28240       NaN
28241       NaN
28242       NaN
28243       NaN
28244       NaN
28245       NaN
28246       NaN
28247       NaN
28248       NaN
28249       NaN
28250       NaN
28251       NaN
28252       NaN
28253       NaN
28254       NaN
28255       NaN
28256       NaN
28257       NaN
28258       NaN
28259       NaN
28260       NaN
28261       NaN
28262       NaN
28263       NaN
28264       NaN
28265       NaN
28266       NaN
28267       NaN
28268       NaN
Name: speed, Length: 28269, dtype: float64

In [ ]:
df1_df2['speed'] = df1_df2[df1_df2['test'] == 0]['Delivery_time']/df1_df2[df1_df2['test'] == 0]['Dist']
speed_model = df1_df2[df1_df2['test'] == 0][['speed','Vehicle Type','Delivery_time']].groupby('Vehicle Type').agg(['mean'])
df1_df2 = df1_df2.join(speed_model, on ='Vehicle Type')
speed_OrderNo = df1_df2_t[all_t['test'] == 0][['speed','Order No','Delivery_time']].groupby('Order No').agg(['mean'])
df1_df2 = df1_df2.join(speed_OrderNo, on ='Order No' , rsuffix = 'pack')

In [158]:
df1_df2['new_param'] = df1_df2['Platform Type'] * df1_df2['Dist']

In [168]:
df1_df2_en = label_encoder(df1_df2)

In [ ]:
X = np.array(df1_df2_en[df1_df2_en['test'] == 0].drop(['Order No', 'Delivery_time','speed'], axis=1))
y = np.log(df1_df2_en[df1_df2_en['test'] == 0]['Delivery_time'].values)
median_trip_duration = np.median(df1_df2_en[df1_df2_en['test'] == 0]['Delivery_time'].values)

print('X.shape = ' + str(X.shape))
print('y.shape = ' + str(y.shape))

X_test = np.array(df1_df2_en[df1_df2_en['test'] == 1].drop(['Order No','speed','Delivery_time'], axis=1))

print('X_test.shape = ' + str(X_test.shape))

print('Training and making predictions')
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'rmsle',
    'max_depth': 6, 
    'learning_rate': 0.1,
    'verbose': 0}
n_estimators = 600

n_iters = 5
preds_buf = []
err_buf = []
for i in range(n_iters): 
    x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.10, random_state=i)
    d_train = pd.df1_df2(x_train, label=y_train)
    d_valid = pd.df1_df2(x_valid, label=y_valid)
    watchlist = [d_valid]

    model = df1_df2.train(params, d_train, n_estimators, watchlist, verbose_eval=0  )

    preds = model.predict(x_valid)
    preds = np.exp(preds)
    preds[preds < 0] = median_trip_duration
    err = rmsle(np.exp(y_valid), preds)
    err_buf.append(err)
    print('RMSLE = ' + str(err))
    
    preds = model.predict(X_test)
    preds = np.exp(preds)
    preds[preds < 0] = median_trip_duration
    preds_buf.append(preds)

print('Mean RMSLE = ' + str(np.mean(err_buf)) + ' +/- ' + str(np.std(err_buf)))
# Average predictions

In [164]:
def rmsle(y_true, y_pred):
    assert len(y_true) == len(y_pred)
    return np.sqrt(np.mean(np.power(np.log1p(y_true + 1) - np.log1p(y_pred + 1), 2)))

In [ ]:
preds = np.mean(preds_buf, axis=0)

In [ ]:
subm = pd.DataFrame()
subm['id'] = all_t[all_t['test']==1].id.values
subm['delivery_time'] = preds
subm.to_csv('submission_lgbm_600.csv', index=False)